/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

:root {
	--color-primary: #5ec576;
	--color-secondary: #ffcb03;
	--color-tertiary: #ff585f;
	--color-primary-darker: #4bbb7d;
	--color-secondary-darker: #ffbb00;
	--color-tertiary-darker: #fd424b;
	--color-primary-opacity: #5ec5763a;
	--color-secondary-opacity: #ffcd0331;
	--color-tertiary-opacity: #ff58602d;
	--gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
	--gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* font-size: 40%; */
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	line-height: 1.9;
	font-size: 1.6rem;
	color: #444;
	background-color: #f3f3f3;
}

.margin--horizontal {
	margin: 0 2.5rem;
}

/* GENERAL ELEMENTS */
.section {
	padding: 15rem 3rem;
	border-top: 1px solid #ddd;

	transition: transform 1s, opacity 1s;
}

.section--hidden {
	opacity: 0;
	transform: translateY(8rem);
}

.section__title {
	max-width: 80rem;
	margin: 0 auto 8rem auto;
}

.section__description {
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--color-primary);
	margin-bottom: 1rem;
}

.section__header {
	font-size: 4rem;
	line-height: 1.3;
	font-weight: 500;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--color-primary);
	font-size: inherit;
	font-family: inherit;
	font-weight: 500;
	border: none;
	padding: 1.25rem 4.5rem;
	border-radius: 10rem;
	cursor: pointer;
	transition: all 0.3s;
}

.btn:hover {
	background-color: var(--color-primary-darker);
}

.btn--text {
	display: inline-block;
	background: none;
	font-size: inherit;
	font-family: inherit;
	font-weight: 500;
	color: var(--color-primary);
	border: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	cursor: pointer;
	transition: all 0.3s;
}

p {
	color: #666;
	hyphens: auto;
}

/* This is BAD for accessibility! Don't do in the real world! */
button {
	outline: none;
}

img {
	transition: filter 0.5s;
}

.lazy-img {
	filter: blur(20px);
}

/* NAVIGATION */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9rem;
	width: 100%;
	/* padding: 0 3rem; */
	z-index: 100;
}

/* nav and sticky class at the same time */
.nav.sticky {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.95);
	padding: 0 3rem;
}

.nav__logo {
	height: 4.5rem;
	transition: all 0.3s;
	z-index: 99;
}

.mobile__nav__btn {
	display: none;
	width: 5.5rem;
	height: 5.5rem;
	padding: 1rem;
	border-radius: 50%;
	position: relative;
	z-index: 99;
}

.nav__icon {
	width: 100%;
	height: 100%;
	color: #333;
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
}

.nav__close_icon {
	display: none;
}

.nav__links {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 4rem;
}

.nav__link:link,
.nav__link:visited {
	font-size: inherit;
	font-weight: 400;
	color: inherit;
	text-decoration: none;
	display: block;
	transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
	padding: 0.8rem 2.5rem;
	border-radius: 3rem;
	background-color: var(--color-primary);
	color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
	color: inherit;
	background-color: var(--color-primary-darker);
	color: #333;
}

/* HEADER */
.header {
	padding: 0 3rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__title {
	flex: 1;

	max-width: 115rem;
	display: grid;
	grid-template-columns: 3fr 2fr;
	row-gap: 3rem;
	align-content: center;
	justify-content: center;

	align-items: start;
	justify-items: start;
}

h1 {
	font-size: 5.5rem;
	line-height: 1.35;
}

h4 {
	font-size: 2.4rem;
	font-weight: 500;
}

.header__img {
	width: 100%;
	grid-column: 2 / 3;
	grid-row: 1 / span 4;
	transform: translateY(-6rem);
}

.highlight {
	position: relative;
}

.highlight::after {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
	transform: scale(1.07, 1.05) skewX(-15deg);
	background-image: var(--gradient-primary);
}

/* FEATURES */
.features {
	max-width: 110rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
	margin: 0 auto;
}

.features__img {
	width: 100%;
}

.features__feature {
	align-self: center;
	justify-self: center;
	width: 70%;
	/* font-size: 1.5rem; */
}

.features__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary-opacity);
	height: 5.5rem;
	width: 5.5rem;
	border-radius: 50%;
	margin-bottom: 2rem;
}

.features__icon svg {
	height: 2.5rem;
	width: 2.5rem;
	fill: var(--color-primary);
}

.features__header {
	font-size: 2rem;
	margin-bottom: 1rem;
}

/* OPERATIONS */
.operations {
	max-width: 100rem;
	margin: 12rem auto 0 auto;
	background-color: #fff;
}

.operations__tab-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.operations__tab {
	transform: translateY(-50%);
}

.operations__tab span {
	margin-right: 1rem;
	font-weight: 600;
	display: inline-block;
}

.operations__tab--1 {
	background-color: var(--color-secondary);
}

.operations__tab--1:hover {
	background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
	background-color: var(--color-tertiary);
}

.operations__tab--3:hover {
	background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
	transform: translateY(-66%);
}

.operations__content {
	display: none;
}

.operations__content--active {
	display: grid;
	grid-template-columns: 7rem 1fr;
	grid-template-rows: 7rem min-content;
	column-gap: 3rem;
	row-gap: 0.5rem;
	padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__header {
	line-height: 1.2;
	font-size: 2.25rem;
	font-weight: 500;
	align-self: center;
}

.operations__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
}

.operations__icon svg {
	height: 2.75rem;
	width: 2.75rem;
}

.operations__content p {
	grid-column: 2;
}

.operations__icon--1 {
	background-color: var(--color-secondary-opacity);
}

.operations__icon--2 {
	background-color: var(--color-primary-opacity);
}

.operations__icon--3 {
	background-color: var(--color-tertiary-opacity);
}

.operations__icon--1 svg {
	fill: var(--color-secondary-darker);
}

.operations__icon--2 svg {
	fill: var(--color-primary);
}

.operations__icon--3 svg {
	fill: var(--color-tertiary);
}

/* SLIDER */
.slider {
	max-width: 100rem;
	min-height: 50rem;
	margin: 0 auto;
	position: relative;

	/* IN THE END */
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 50rem;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	/* THIS creates the animation! */
	transition: transform 1s;
}

.slide--1 {
	transform: translateX(0);
}

.slide--2 {
	transform: translateX(100%);
}

.slide--3 {
	transform: translateX(200%);
}

.slide > img {
	/* Only for images that have different size than slide */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider__btn {
	position: absolute;
	top: 50%;
	z-index: 10;

	border: none;
	background: rgba(255, 255, 255, 0.7);
	font-family: inherit;
	color: #333;
	border-radius: 50%;
	height: 5.5rem;
	width: 5.5rem;
	font-size: 3.25rem;
	cursor: pointer;
}

.slider__btn--left {
	left: 6%;
	transform: translate(-50%, -50%);
}

.slider__btn--right {
	right: 6%;
	transform: translate(50%, -50%);
}

.dots {
	position: absolute;
	bottom: 4%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.dots__dot {
	display: inline-block;
	border: none;
	background-color: #b9b9b9;
	opacity: 0.7;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	margin-right: 1.75rem;
	cursor: pointer;
	transition: all 0.5s;

	/* Only necessary when overlying images */
	/* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
	margin: 0;
}

.dots__dot--active {
	background-color: #fff;
	background-color: #888;
	outline-offset: 0.5rem;
	outline: 0.3rem solid var(--color-primary);
	opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
	width: 65%;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.testimonial::before {
	content: "\201C";
	position: absolute;
	top: -5.7rem;
	left: -6.8rem;
	line-height: 1;
	font-size: 20rem;
	font-family: inherit;
	color: var(--color-primary);
	z-index: -1;
}

.testimonial__header {
	line-height: 1.2;
	font-size: 2.25rem;
	font-weight: 500;
}

.testimonial__text {
	/* font-size: 1.7rem; */
	color: #666;
	hyphens: auto;
}

.testimonial__author {
	margin-left: 3rem;
	font-style: normal;

	display: grid;
	grid-template-columns: 6.5rem 1fr;
	column-gap: 2rem;
}

.testimonial__photo {
	grid-row: 1 / span 2;
	width: 6.5rem;
	border-radius: 50%;
}

.testimonial__name {
	font-size: 1.7rem;
	font-weight: 500;
	align-self: end;
	margin: 0;
}

.testimonial__location {
	font-size: 1.5rem;
}

.section__title--testimonials {
	margin-bottom: 4rem;
}

/* SIGNUP */
.section--sign-up {
	background-color: #37383d;
	border-top: none;
	border-bottom: 1px solid #444;
	text-align: center;
	padding: 10rem 3rem;
}

.section--sign-up .section__header {
	color: #fff;
	text-align: center;
}

.section--sign-up .section__title {
	margin-bottom: 6rem;
}

.section--sign-up .btn {
	font-size: 1.9rem;
	padding: 2rem 5rem;
}

/* FOOTER */
.footer {
	padding: 10rem 3rem;
	background-color: #37383d;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	align-items: center;
}

.footer__nav {
	list-style: none;
	display: flex;
	justify-content: center;
	column-gap: 4rem;
	row-gap: 1rem;
	flex-wrap: wrap;
}

.footer__link {
	text-decoration: none;
	display: inline-flex;
	color: #eee;
}

.footer__logo {
	height: 5rem;
	display: block;
	margin: 0 auto;
}

.footer__copyright {
	color: #aaa;
	text-align: center;
}

/* =====INSERT HERE MODAL WINDOW CODE===== */

/* COOKIE MESSAGE */
.cookie-message {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	background-color: white;
	color: #bbb;
	font-size: 1.5rem;
	font-weight: 400;
}

/* ==========RESPONSIVE - MEDIA QUERY========== */

@media only screen and (max-width: 900px) {
	.mobile__nav__btn {
		display: flex;
	}

	.nav__links {
		font-size: 2.2rem;
		background: var(--gradient-primary);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		flex-direction: column;
		justify-content: center;
		gap: 2rem;
		padding: 5rem 0;
		transform: translateY(-100%);
		transition: all 0.5s;
	}

	.mobile__nav .nav__links {
		transform: translateY(0);
	}

	.mobile__nav .nav__menu_icon {
		display: none;
	}

	.mobile__nav .nav__close_icon {
		display: block;
	}

	.section__header {
		font-size: 3rem;
	}

	.header {
		padding: 0 3rem 15rem;
	}

	.header__title {
		grid-template-columns: 1fr;
		padding-top: 6rem;
	}

	h1 {
		font-size: 4.5rem;
	}

	.header__img {
		min-width: 35rem;
		width: 50%;
		grid-column: 1;
		grid-row: 4;
		transform: translateY(0);
		margin: 6rem auto 0;
		justify-self: center;
	}

	.features {
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 6rem;
	}

	.features__img {
		width: 75%;
		justify-self: center;
	}

	.features__feature {
		width: 90%;
		text-align: justify;
	}

	.features__feature:nth-of-type(1) {
		grid-row: 1;
	}

	.features__feature:nth-of-type(3) {
		grid-row: 5;
	}

	.operations__tab {
		flex: 1;
		padding: 1.25rem 1rem;
	}

	.margin--horizontal {
		margin: 0 1rem;
	}

	.operations__content--active {
		grid-template-columns: 5rem 1fr;
		grid-template-rows: minmax(min-content, 5rem) min-content;
		gap: 2rem;
		padding: 2rem 2rem 4.5rem;
	}

	.operations__header {
		font-size: 2rem;
	}

	.operations__icon {
		height: 5rem;
		width: 5rem;
	}

	.slider__btn {
		top: auto;
		bottom: -4%;
	}

	.testimonial {
		width: 75%;
	}

	.modal__form {
		grid-template-columns: 1fr 2fr;
	}
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 53.125%;
	}

	body {
		font-size: 1.8rem;
	}

	.section,
	.footer {
		padding: 8rem 1rem;
	}

	.section__title {
		margin: 0 auto 4rem auto;
	}

	.section__header {
		font-size: 2.5rem;
	}

	.header {
		padding: 0 1rem 8rem;
	}

	.nav {
		height: 7rem;
	}

	.nav.sticky {
		padding: 0 1rem;
	}

	h1 {
		font-size: 3.5rem;
	}

	.header__img {
		min-width: 25rem;
		width: 70%;
	}

	h4 {
		font-size: 2rem;
	}

	.operations__tab {
		flex: none;
		flex-direction: column;
		width: 12rem;
		height: 12rem;
		padding: 1rem;
	}

	.operations__content {
		margin-top: -6rem;
	}

	.operations__content p {
		grid-column: 1 / -1;
	}

	.testimonial {
		width: 95%;
		margin-top: -6rem;
	}

	.testimonial::before {
		left: -1.5rem;
		top: 0;
		opacity: 0.6;
	}

	.modal {
		width: 95%;
		padding: 4rem 2rem;
	}

	.modal__header {
		font-size: 2.5rem;
		margin-bottom: 2.5rem;
	}

	.modal__form {
		margin: 0 1.5rem;
		column-gap: 1rem;
	}
}

@media only screen and (max-width: 360px) {
	html {
		font-size: 43.75%;
	}

	.nav__logo {
		height: 4rem;
	}

	.features__feature,
	.features__img {
		width: 100%;
	}

	.operations__tab-container {
		justify-content: space-around;
	}

	.operations__tab {
		width: 9rem;
		height: 10rem;
		border-radius: 1rem;
	}

	.operations__content--active {
		padding: 3rem 0rem 4.5rem;
	}

	.modal__form {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.modal__form input:not(:last-of-type) {
		margin-bottom: 2rem;
	}
}
